[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
redis = "==3.2.1"
requests = "*"
tenacity = "*"
aiohttp = "*"
flask = "*"
icecream = "*"
pysnooper = "*"
pytest = "*"
pymongo = "*"
ipython = "*"

[requires]
python_version = "3.6"
